#product-container {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.product {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 8px;
    background-color: #f9f9f9;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#end-of-products {
    text-align: center;
    padding: 10px;
    color: grey;
}